.icon {
  transition: transform 0.5s ease, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #e0e0e0;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #212529;
  background-color: #f8f9fa;
  border-color: #e0e0e0;
  cursor: pointer;

  &:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
  }

}



.iconLeft {
  transform: rotate(180deg) !important;

}

.iconRight {

  transform: rotate(0deg) !important;
}

.slider {
  min-width: 186px;
  white-space: nowrap; /* Evita que el texto se desborde y pase a la siguiente línea */
  overflow: hidden; /* Puedes usar overflow: ellipsis; si prefieres agregar puntos suspensivos (...) al final del texto que se desborda */
  text-overflow: ellipsis;
  min-height: 100%;

}

.maximo {
  min-height: 100vw;
}

.sliderCollapse {
  min-width: 65px;
  min-height: 100%;
}


/*Login */

.login-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #F4F6F6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #F4F6F6;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  height: 100vh;
}

.titleForm {
  margin: 25px;
}

.login-input {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remeberCheck {
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  margin-bottom: 15px;
}

.login-button:hover {
  background-color: #0056b3;
}

.copyText {
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  margin-top: 25px;
  color: #535050;
}



/*Formulario de evaluacion al docente*/
/* EvaluacionForm.css */

.evaluacion-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.evaluacion-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 700px;
}

.evaluacion-form-group {
  margin-bottom: 15px;
}

.evaluacion-label {
  display: block;
  margin-bottom: 5px;
}

.evaluacion-input,
.evaluacion-select,
.evaluacion-textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.evaluacion-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.evaluacion-button:hover {
  background-color: #45a049;
}



/** Img Contact **/
.img-contact {

  border-radius: 2rem;
  width: 3rem;
  height: 3rem;

}

.contact {
  min-width: 20rem;
  max-width: 25rem;

}

.notification {
  max-width: 1rem;
  max-height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
}

.green-dot {
  position: absolute;
  top: 2px; /* Puedes ajustar estas propiedades según sea necesario para la posición deseada */
  left: 8px;
  width: 13px; /* Ancho de la pelotita verde */
  height: 13px; /* Altura de la pelotita verde */

  border-radius: 50%; /* Hace que el div tenga forma de círculo */
  z-index: 1; /* Asegura que la pelotita verde esté en la parte superior de la imagen */
}

.img-container{
  position: relative;
  display: inline-block;
}

/*
Estilos para el perfil de estudiante
*/
.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  aspect-ratio: 1;

}

/*
Caja de texto
*/
.mensaje {
  resize: none;
  /* Evita que el usuario pueda redimensionar el área de texto */
  /* Oculta las barras de desplazamiento */
  /* Altura mínima inicial */
  border: 1px solid #ccc;
  /* Borde para mayor claridad */
  padding: 5px;
  /* Espaciado interno */
  font-size: 16px;
  /* Tamaño de fuente */
  max-height: 90px;
}

.homeCard {
  width: 25rem;
}

hr {
  border: 5px solid rgb(255, 255, 255);
}

.equals-card {
  /* Establece el ancho mínimo */
  width: 100%;
  /* Opcional: Garantiza que ocupe todo el ancho disponible */
  box-sizing: border-box;
  /* Incluye el padding y el borde en el ancho total */
}

@media screen and (min-width: 900px) {
  /* Estilos que se aplicarán solo cuando la pantalla mida más de 900 píxeles */
  /* carusel de imagenes del home */

  .carousel {
    max-height: 100vh;
    overflow: hidden;
  }

  .carousel-item img {
    margin-top: -400px;
  }
}

@media screen and (max-width: 700px) {

  /* Estilos que se aplicarán solo cuando la pantalla mida más de 500 píxeles */
  /* carusel de imagenes del home */
  .containerCardsHome {
    flex-direction: column;
    align-items: center;
  }

  .homeCard {
    margin-bottom: 2rem;
  }

  .homeCard {
    width: 20rem;
  }

}

/*
Contact
*/
.scrollable-container {
  max-height: 100vh; /* Puedes ajustar esta altura según tus necesidades */
  overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
}
/* Estilo para reducir el tamaño de las imágenes sin perder la relación de aspecto original */
.file-msj {
  max-width: 50%; /* Puedes ajustar el porcentaje según tus necesidades */
  height: auto;
  display: block;
}


/*ESTILOS PARA EL HISTORIAL ACADEMICO*/

/*Encabeado*/
.header {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.header img {
  width: 80px; /* Ancho de la imagen, ajusta según el tamaño de tu imagen */
}

.header-container {
  display: flex;
  align-items: center; 
  position: relative; 
}

.logo-container {
  margin-right: 20px; 
}
.logo {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  left: 160px; 
}
.header-text {
  text-align: center;
  flex: 1; 
}

/*Informacion*/

.contenInfo {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding-left: 130px;
  padding-right: 130px;
}

.box {
  width: 600px;
  height: 140px;
  background-color: #c7ccd1; /* Color gris claro */
  border-radius: 15px; /* Esquinas redondeadas */
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-left: 5px;
}
.box h4 {
  padding: 5px;
  margin: 0px 0; /* Espaciado entre los elementos h5 */
}

/*Nombre de la carrera*/
.boxCareer {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  height: 30px;
  background-color: #c7ccd1; /* Color gris claro */
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*Año*/
.line-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  padding-left: 135px;
  padding-right: 135px;
}

.line-with-text::before,
.line-with-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000; /* Color y grosor de la línea */
}

.line-text {
  padding: 0 20px; /* Espaciado alrededor del texto */
  background-color: white; /* Color de fondo para que el texto esté sobre la línea */
  position: relative;
  z-index: 1;
}

/*Tabla*/
.contentTable {
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Establece el margen automático a izquierda y derecha */
  width: 83%; /* Ancho de la tabla, ajusta según necesites */
  font-size: 20px;
}

.table {
  table-layout: fixed;
  width: 100%;
}

.column-width {
  width: 110px; /* O ajusta según sea necesario */
}
.name-column {
  width: 560px; /* O ajusta según sea necesario */
}

.small-column-width {
  width: 100px; /* O ajusta según sea necesario */
}

.align-left {
  text-align: right;
}

.center-grade {
  text-align: center;
  width: 120px; /* O ajusta según sea necesario */
}

.larger-font {
  font-size: 22px; /* Ajusta según sea necesario */
}
.center-column {
  text-align: center;
  width: 160px; /* O ajusta según sea necesario */

  /* No establezcas un ancho específico aquí */
}

/*Total Aprobadas*/
.textTotal {
  padding-left: 160px;
  margin-top: 20px;
}

/*Pie de pagina*/
.line-footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer {
  padding-bottom: 30px;
  position: absolute;
  right: 150px;
}

/*PAGINA FINAL*/

.lineFinal {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.calculationIndex {
  padding-left: 140px;
  margin-bottom: 20px;
}

.codigoBarra {
  margin-top: 20px;
  padding-left: 90px;
  width: 400px;
  height: 100px;
}


.year-image {
  position: absolute;
  left: 35%; 
  width: 200px; 
  height: auto; 
  transform: translateY(130px); 

}

