.icon {
  transition: transform 0.5s ease, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #e0e0e0;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #212529;
  background-color: #f8f9fa;
  border-color: #e0e0e0;
  cursor: pointer;

  &:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
  }
}

.iconLeft {
  transform: rotate(180deg) !important;
}

.iconRight {
  transform: rotate(0deg) !important;
}

.slider {
  min-width: 186px;
  white-space: nowrap; /* Evita que el texto se desborde y pase a la siguiente línea */
  overflow: hidden; /* Puedes usar overflow: ellipsis; si prefieres agregar puntos suspensivos (...) al final del texto que se desborda */
  text-overflow: ellipsis;
  min-height: 100%;
}

.maximo {
  min-height: 100vw;
}

.sliderCollapse {
  min-width: 65px;
  min-height: 100%;
}

/* En tu archivo global de CSS (e.g., App.css) */

/* Agrega más estilos según sea necesario */
